<%- include("partials/header"); -%>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <div>
        <h1 style="font-size:40px; text-align:center">Contact</h1>
        <p style="font-size:20px; text-align:center">Email ID : vedantdangi3122@gmail.com</p>

                <!--social meadi-->
        <div class="social-icons" style="color:black; text-align:center">

        <a href="https://www.facebook.com/vedant.dangi.12" target="_blank"><i class="bi bi-facebook" style="font-size:60px"></i></a>
        <a href="https://www.instagram.com/dangi__ji/" target="_blank"><i class="bi bi-instagram" style="font-size:60px"></i></a>
        <a href="https://github.com/vedant312" target="_blank"><i class="bi bi-github" style="font-size:60px"></i></a>
        <a href="https://www.linkedin.com/in/vedant-dangi-8aa24320b/" target="_blank"><i class="bi bi-linkedin" style="font-size:60px"></i></a>
                    
        </div>
    </div>
<%- include("partials/footer"); -%>
