<%- include('partials/header') %>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-1" style="text-align: center;">Daily Jounral</h1>
    <p class="lead" style="text-align: center;">Don't keep your stories, share them here online here!</p>
    <hr>

  </div>
</div>
<div  style="text-align: center;">
  <a class="btn btn-success btn-lg" href="/allposts" role="button" >Read Blogs</a>
  <a class="btn btn-warning btn-lg" href="/compose" role="button"  >Write Blog</a>
</div>

<%- include('partials/footer') %>
